<!DOCTYPE html>
{% load tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Class</title>
    
</head>
<body>
    {% block content %}
    
        <center>
            <h1 class="text-rose-600">This is the demo of class app!</h1>

            <br><br>

            <a href={% url 'login_teacher' %}>Login to your classes</a>

        </center>
        <br><br>
    {% endblock %}
    
</body>
</html>